@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --gray-background: #e5e7eb;
  --secondary-color: #3b82f6;
  --card-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.3);
  --secondary-text: #4b5563;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

header {
  grid-column: 2 / 3;
}

.header-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 15px 20px 0px 20px;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 549px;
  margin-left: 10px;
  border: none;
  background-color: var(--gray-background);
  border-radius: 30px;
}

.user-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-header .user-header-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.user-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
}

.user-profile-name {
  font-size: 1.3rem;
}

.header-menu {
  display: flex;
  justify-content: space-evenly;
}

.header-menu .header-button {
  width: 100px;
  height: 40px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--secondary-color);
  color: #fff;
}

.sidebar-logo {
  display: flex;
  margin: 14px 0px 0px 16px;
  align-items: center;
  cursor: pointer;
}

.sidebar-logo .material-icons {
  font-size: 2.5rem;
}

.sidebar-logo .sidebar-logo-text {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 10px;
}

.sidebar-content li {
  display: flex;
  align-items: center;
  margin-left: -16px;
  font-weight: 500;
  margin: 12px 0 12px 0;
}

.sidebar-content li i {
  font-size: 24px;
}

.sidebar-content li:hover {
  cursor: pointer;
}

.sidebar-content li .material-icons {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.sidebar-menu-item {
  margin-right: 10px;
}

.sidebar-menu {
  margin-top: 36px;
}

.sidebar-settings {
  margin-top: 36px;
}

.main {
  grid-column: 2 / 3;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0px -7px 10px -7px rgba(0, 0, 0, 0.31);
  background-color: var(--gray-background);
}

.main-projects {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  margin-top: 30px;
}

.main-projects h3 {
  margin-left: 30px;
}

.main-cards {
  margin: 11px 20px 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card-project {
  background-color: #fff;
  border-radius: 10px;
  border-left: 6px solid #facc15;
  box-shadow: var(--card-shadow);
  padding: 15px;
  /* justify-content: space-between;
  display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.card-project .card-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.card-project .card-text {
  color: var(--secondary-text);
  font-size: 0.9rem;
}

.card-icons {
  display: flex;
  justify-content: end;
}

.main-announcements {
  grid-row: 1 / 2;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr repeat(3, 2fr);
}

.card-annoncements {
  padding: 0px 25px;
}

.card-annoncements,
.card-trending {
  background-color: #fff;
  box-shadow: var(--card-shadow);
  border-radius: 10px;
  color: var(--secondary-text);
  font-size: 0.9rem;
}

.card-annoncements .card-title,
.card-trending .user-card-trending {
  font-weight: bold;
  color: #000;
}

.card-annoncements hr {
  color: var(--secondary-text);
}

.main-trending {
  grid-row: 2 / 3;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr repeat(4, 2fr);
}

.card-trending {
  display: flex;
  padding: 10px 70px;
}

.card-trending .trending-icon {
  padding-right: 10px;
}

.card-trending-info {
  display: flex;
  flex-direction: column;
}
